@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mocha-brown: #6f4e37;
  --cream: #f5f5dc;
  --espresso: #3e2723;
  --warm-gray: #a8a8a8;
  --olive-green: #556b2f;
  --foreground: #171717;
}

*:focus {
  outline-color: var(--mocha-brown);
}

body {
  color: var(--foreground);
  background: var(--cream);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
